{% extends "base.html" %}


{% block content %}

<div id="page1" class="page" style="height: 400px;">
	<div class="inner">
		<h1 class="fontface">Stop fucking saying <span>HELLO</span> to me</h1>
		<p><strong>A story of life in modern China</strong></p>
		<img class="space" src="/images/spacebar.png">
		<img src="/images/space-tip.png" class="space-tip">
	</div>

</div>

<div id="page2" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">In 2007 I moved to China to learn Mandarin and experience life in one of the world's most interesting cultures.</h1>
	  <img src="/images/left-arrow.png" class="one">
	</div>
	<img class="three-people" src="/images/threes-people.png">
</div>

<div id="page3" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">I've been here for 4 years now, and I live happily with my wife and my cat Oni!</h1>
	  <p><strong>* some of the naivety has gone, although I still get starry-eyed when I see an old man doing kung fu in the parks.</strong></p>

	</div>
</div>

<div id="page4" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">But there's just one <span>SMALL</span> thing that still pisses me off...</h1>
	</div>
</div>


<div id="page5" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">HELLO</h1>
	</div>
</div>

<div id="page6" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">HELLO</h1>
	</div>
</div>

<div id="page7" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">HELLO</h1>
	</div>
</div>

<div id="page8" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">You see, many Chinese people love to shout <span>HELLO</span> at random foreigners. It never stops.</h1>
	  <div class="places">
	    <ul>
		  <li>on the street</li>
		  <li>in the supermarket</li>
		  <li>in the park</li>
		  <li>on the toilet</li>
		  <li>when I'm running</li>
		  <li>in Haagen Daz</li>
		  <li>while they're puking</li>
		  <li>while I'm puking</li>
		</ul>
		<ul>
		  <li>on the peaks of Huang Shan</li>
		  <li>on the bus</li>
		  <li>in the bank</li>
		  <li>in a temple</li>
		  <li>on the aeroplane</li>
		  <li>in a police station</li>
		  <li>just before my endoscopy</li>
		  <li>just after my endoscopy</li>
		</ul>
		<ul>
		  
		  <li>while I'm buying condoms</li>
		  <li>when I'm arguing with my wife</li>
		  <li>in restaurants</li>
		  <li>in the elevator</li>
		  <li>during a kung fu lesson</li>
		  <li>in bars</li>
		</ul>
	  
	  </div>
	  <div class="explain">
	  <h2 class="fontface">WHY?</h2>
	  <p>Some say it's because Chinese people are so friendly, and others say it's because Chinese people are so racist. My own simple idea is that a large number of Chinese people have never been told that this isn't polite.</p>
	  </div>
	  <div class="who">
	  <h2 class="fontface">WHO?</h2>
	  <p>People shouting <strong>HELLO</strong> are young and old, rich and poor. I've had it from uneducated manual labourers, and also from businessmen and university students who are studying English! It's worst in 2nd tier cities actually.</p>
	  </div>
	</div>
</div>

<div id="page9" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">After months of this, playing on your nerves every day, every foreigner loses it and has what can only be described as a...<span>foreigner tantrum</span></h1>
	</div>
</div>


<div id="page10" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">If you hadn't guessed it, this website is my little foreigner tantrum<span>*</span>. </h1>
	  <img src="/images/the-scream.jpg" class="the-scream">

	  <h2 class="bearpaw">GRAARRHGHGGGH!!</h2>

<p class="story" style="font-size: 22px;"><span>*</span> My tantrum started off this morning. As I was stretching in the park, a Chinese man walked past. Without even looking at me or stopping in his stride, he shouted a full blast <span>HELLO</span>, quickly followed by a <span>FUCK YOU</span>. I get something like this at least once a day in China, but today it just pissed me off more than usual.</p>

<p>You might think I'm overreacting - I agree with you! But it's amazingly frustrating, every time you leave the house or try to do anything, and some random stranger shouts <span>HEEELLLLOOOOOO</span> at you. Come to China, try it for yourself and see how long you last before you have your first foreigner tantrum. Most people's upper limit is a couple of months.</p>


	 

	  
	</div>
</div>

<div id="page11" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">Anyway China, <span>because we're friends,</span> I have a solution!</h1>
	  
	  <p style="margin-top: 100px; width: 600px; font-size: 24px;"><strong>Let's build better international relations through this simple 2-step guide to globally recognised, totally acceptable ways to say <span>HELLO</span>. Unless of course you are just genuinely racist, you'll quickly become an expert in how NOT to offend people you meet.</h1>
	</div>
</div>


<div id="page12" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface"><span class="number">1</span> Saying <span>HELLO</span> is considered rude in these situations.</h1>
	  <img src="/images/no-hello-guide.png" style="margin-top:20px;">
	</div>
</div>

<div id="page13" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface"><span class="number">2</span> This is the correct way to say <span>HELLO</span> to people.</h1>
	  <br clear="all"/>
	  <div class="left">
	  <ul>
	    <li>Face me when you say it</li>
	    <li>Don't shout</li>
	    <li>Say it in your normal voice</li>
	    <li>Try smiling</li>
	    <li>If you can't speak English, use Chinese<br/><span style="font-size: 13px;">(yes, some of us can speak Chinese too)</span></li>
	    <li>Don't laugh or snigger after you've said it</li>
	    <li>Don't run away after you've said it</li>
	    <li>Don't send your 2yr old kid over to say it</li>
	  </ul>
	  </div>
	  <img src="/images/yes-hello-guide.png" class="yes">
	</div>
</div>


<div id="page14" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">If you're feeling really adventurous, try saying <span>HELLO</span> in these other languages*</h1>
	  <p>* <em>yes, 'foreigners' speak other languages except English!!</em></p>
	  <div class="countries">
	  <div><img src="/images/germany.gif" title="Germany"> Hallo</div>
	  <div><img src="/images/france.gif" title="France"> Bounjour</div>
	  <div><img src="/images/spain.gif" title="Spain"> ¡Hola</div>
	  <div><img src="/images/italy.gif" title="Italy"> Ciao</div>
	  <div><img src="/images/brazil.gif" title="Brazil"> Olá</div>
	  <div><img src="/images/sweden.gif" title="Sweden"> Hallå</div>
	  <div><img src="/images/russia.gif" title="Russia"> привет</div>
	  <div><img src="/images/south-africa.gif" title="South Africa (Afrikaans)"> Hallo</div>
	  <div><img src="/images/phillipines.gif" title="Phillipines"> Tere</div>
	  <div><img src="/images/greece.gif" title="Greece"> Γεια σας</div>
	  <div><img src="/images/finland.gif" title="Finland"> Haloo</div>
	  <div><img src="/images/czech.gif" title="Czech"> Ahoj</div>
	  </div>
	</div>
	<img src="/images/oneworld.png" class="oneworld">
</div>

<div id="page15" class="page" style="height: 400px;">
	<div class="inner">
	  <h1 class="fontface">This website was brought to you courtesy of one foreigner living happily in China</h1>
	  <p style="margin-top: 30px;">It's intended as a light-hearted, creative response to the difficulties of living abroad. Please don't take this too seriously...</p>
	</div>
</div>



{% endblock %}